body {
  --dark-0: hsl(260, 13%, 10%);
  --dark-1: hsl(260, 10%, 13%);
  --dark-2: hsl(260, 8%, 18%);
  --dark-3: hsl(260, 8%, 22%);
  --hightlight: hsla(260, 20%, 100%, 0.05);
  --accent-color: hsl(210, 80%, 70%);
  --text-primary: hsl(260, 10%, 70%);
  --text-secondary: hsl(260, 5%, 50%);
  
  background-color: var(--dark-0) !important;
}
/* APPLY FONT SO ICONS DO NOT BREAK */
body, html {
  font-family: 'Rubik', Roboto !important;
}
/* SLIDER */
::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-2);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-corner {
  display: none;
}
*, *:active, *:focus {
  border-width: 0 !important;
  border: none !important;
  outline-width: 0 !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important; 
  transition: all 0.1s !important;
}
header#page-header {
  display: none !important;
}
section.block {
  overflow: hidden !important;
  border-radius: 0.5rem !important;
}
section.block_mycourses {
  border: none !important;
}
/* DROPDOWN MENUS */
div.dropdown-menu.show, div.popover-region-container {
  background-color: var(--dark-0) !important;
  border-radius: 0.5rem !important;
  padding: 0.5rem !important;
}
a.dropdown-item {
  background-color: transparent !important;
}
a.dropdown-item:hover, a.dropdown-item:active {
  filter: brightness(125%) !important;
}
/* NAVBAR */
#page-wrapper > nav.navbar.fixed-top, .bg-white {
  background-color: transparent !important;
  position: relative !important;
  display: flex !important;
  padding: 4rem 2rem 1rem 2rem;
  box-shadow: none;
}
/* PROFILE BUTTON */
a#action-menu-toggle-1 .userbutton .avatars {
  margin-left: 1rem !important;  
}
/* BUTTONS AND LINKS */
button.nav-link.float-sm-left.bg-gray {
  background-color: transparent !important;
}
button.nav-link.float-sm-left.bg-gray:hover {
  filter: brightness(125%);
}
button, a {
  background-color: transparent !important;
  color: var(--text-primary) !important;
  border-radius: 0.5rem !important;
}
button:hover, button:focus, a:hover, a:focus {
  background-color: var(--hightlight) !important;
  text-decoration: none !important;
}
button:disabled ,a:disabled, button.page-link, a.page-link {
  background-color: transparent !important;
}
.aalink.focus, #page-footer a:not([class]).focus, .arrow_link.focus, a:not([class]).focus, .activityinstance>a.focus, .aalink:focus, #page-footer a:not([class]):focus, .arrow_link:focus, a:not([class]):focus, .activityinstance>a:focus {
  box-shadow: none !important;
  background-color: transparent !important;
}
.card {
  background-color: var(--dark-1) !important;
  border: 0.1rem solid var(--dark-2) !important;
  box-shadow: 0px 0px 2rem hsla(0, 0%, 0%, 0.25) !important;
}
p, h1, h2, h3, h4, h5, h6, span, div {
  color: var(--text-secondary) !important;
  background-color: transparent !important;
}
div#goto-top-link > a {
  background-color: var(--dark-1);
}
/* INPUT / SEARCH / SUBMIT */
input.form-control {
  background-color: var(--dark-0) !important;
}
button.btn-submit {
  background-color: transparent !important;
}

/* RECENTLY ADDED COURSES */
div.block-recentlyaccessedcourses div.one-row > div {
  overflow: hidden !important;
  border-radius: 0.5rem !important;
}

/* TABLE OF SUBJECTS */


.card-text.content > .customtitle, .card-text.content > .legend-box {
  display: inline-block !important;
}
/* each table of a subject */
.card-text.content > div:nth-child(n+4) {
  margin-top: 3rem !important;
}
.card-text.content > div:nth-child(n+4) > h3 {
  padding: 0.5rem !important;
  
}
/* SUBJECT NAME */
.card-text.content > div:nth-child(n+4) > h3:hover {
  filter: brightness(125%);
}
.card-text.content > div:nth-child(n+4) > h3 > a:hover {
  background-color: transparent !important;
}
table.course-box {
  overflow: hidden !important;
  border-radius: 0.5rem !important;
}
/* CELLS BACKGROUND */
.card-text.content .course-box > tbody {
  background-color: hsla(260, 10%, 10%, 0.8) !important;
  width: auto !important;
}
.card-text.content .course-box > tbody > tr > td {
  padding: 1rem !important;
  background-color: transparent !important;
}
/* CELL */
.progressbar td.cm {
  border-style: solid !important;
  border-color: hsl(0, 0%, 10%) !important;
  border-width: 0.1rem !important;
  filter: hue-rotate(-20deg) !important;
  opacity: 0.85 !important;
}
.progressbar td.cm:last-child {
  background-color: var(--dark-2) !important;
}
.progressbar td.cm:hover, .progressbar td.cm:active {
  translate: 0 -0.15rem !important;
}
.progressbar tbody tr span {
  display: none;
}

/* MAIN BLOCK / SUBJECTS / SUBJECT PAGE */

div#region-main-box > section#region-main {
  background-color: var(--dark-1) !important;
  border: 0.1rem solid var(--dark-2) !important;
  border-radius: 0.5rem !important;
  box-shadow: 0px 0px 2rem hsla(0, 0%, 0%, 0.25) !important;
}

/* DIALOGUE / POPUP */
div.yui3-widget.yui3-panel, div.moodle-dialogue, div.yui3-widget-modal {
  background-color: var(--dark-1) !important;
  padding: 1rem !important;
  border-radius: 0.5rem !important;
  border: 0.1rem solid var(--dark-2) !important;
}

/* SUBMISSION TABLES / SUBJECT PAGE / TESTS / FEEDBACK */
div.submissionsummarytable table, div.feedback table {
  background-color: var(--dark-0) !important;
  border-radius: 0.5rem !important;
}
div.submissionsummarytable table *, div.feedback table * {
  background-color: transparent !important;
  color: var(--text-secondary) !important;
}
/* NOT GRADED */
div.submissionsummarytable table td.submissionnotgraded {
  color: var(--text-primary) !important;
  font-weight: bold !important;
}
/* GRADED */
div.submissionsummarytable table td.submissiongraded {
  color: hsl(80, 100%, 40%) !important;
  font-weight: bold !important;
}
/* QUIZ */
div.quizattempt button {
  background-color: var(--dark-2) !important;
  padding: 1rem 4rem !important;
}
div.quizattempt button:hover {
  background-color: var(--dark-3) !important;
}
/* JUMP TO ACTIVITY */
select#jump-to-activity, select.custom-select {
  background-color: var(--dark-0) !important;
  padding: 0.5rem 2rem !important;
  border-radius: 0.75rem !important;
}
/* SUBMIT */
div.submissionaction button {
  background-color: var(--dark-2) !important;
  padding: 0.75rem 2rem !important;
}
div.submissionaction button:hover {
  background-color: var(--dark-3) !important;
}


/* MESSENGER */


div.message-app {
  background-color: transparent !important;
  border-width: 0 !important;
}
div.message-app * {
  border-width: 0 !important;
}
div.message-app textarea {
  background-color: var(--dark-0) !important;
}
div.message-app .bg-white {
  background-color: transparent !important;
}
/* EACH MESSAGE IN CHAT*/
div.message-app div.content-message-container > div {
  background-color: var(--dark-0) !important;
  border-radius: 0.5rem !important;
  border: 0.1rem solid var(--dark-2) !important;
  margin-top: 0.5rem !important;
}
div.message-app div.content-message-container > div > h6 {
  margin-top: 1rem !important;
}

