@charset "UTF-8";
body {
  background-color: hsl(260deg, 13%, 10%) !important;
}

/* APPLY FONT SO ICONS DO NOT BREAK */
body, html {
  font-family: "Rubik", Roboto !important;
}

footer#page-footer {
  background-color: black !important;
}

/* SLIDER */
::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(260deg, 13%, 18%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-corner {
  display: none;
}

*, *:active, *:focus {
  border-width: 0 !important;
  border: none !important;
  outline-width: 0 !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  transition: all 0.1s !important;
}

header#page-header {
  display: none !important;
}

section.block {
  overflow: hidden !important;
  border-radius: 0.5rem !important;
}

section.block_mycourses {
  outline: none !important;
}

/* DROPDOWN MENUS */
div.dropdown-menu, ul.dropdown-menu {
  background-color: hsl(260deg, 13%, 10%) !important;
  outline: 0.1rem solid hsl(260deg, 13%, 18%) !important;
  border-radius: 0.5rem !important;
  padding: 0.5rem !important;
}
div.dropdown-menu li a, ul.dropdown-menu li a {
  border-radius: 0.5rem !important;
  padding: 0.25rem !important;
}
div.dropdown-menu li a:hover, ul.dropdown-menu li a:hover {
  color: hsl(260deg, 5%, 50%) !important;
  background-color: transparent !important;
}
div.dropdown-menu.show, ul.dropdown-menu.show {
  background-color: hsl(260deg, 13%, 10%) !important;
  border-radius: 0.5rem !important;
  padding: 0.5rem !important;
}

div.popover-region-container {
  background-color: hsl(260deg, 13%, 10%) !important;
  border-radius: 0.5rem !important;
  padding: 0.5rem !important;
}

a.dropdown-item {
  background-color: transparent !important;
}
a.dropdown-item:hover, a.dropdown-item:active {
  filter: brightness(120%) !important;
}

#page-wrapper {
  background: radial-gradient(70vw circle at -20vw -40vw, hsla(270deg, 100%, 70%, 0.6) 0%, transparent 100%), radial-gradient(60vw circle at 60vw -30vw, hsla(290deg, 100%, 70%, 0.2) 0%, transparent 100%);
  /* POPUP NAV LEFT / COMPACT NAVBAR */
  /* NAVBAR */
}
#page-wrapper > #nav-drawer {
  background-color: hsl(260deg, 13%, 10%) !important;
  top: 0 !important;
  bottom: 0 !important;
}
#page-wrapper > nav.navbar.fixed-top {
  background-color: transparent !important;
  position: relative !important;
  display: flex !important;
  padding: 4rem 2rem 1rem 2rem;
  box-shadow: none;
}

/* POPUP MESSENGER / COMPACT MESSENGER */
/* BACKGROUND */
[data-origin^=message-drawer-toggle], [data-origin^=message-user-button] {
  /* MESSAGE APP */
}
[data-origin^=message-drawer-toggle].bg-white, [data-origin^=message-user-button].bg-white {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: hsla(0deg, 0%, 0%, 0.5) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 1031 !important;
}
[data-origin^=message-drawer-toggle] .message-app, [data-origin^=message-user-button] .message-app {
  margin: 10% !important;
  background-color: hsl(260deg, 13%, 13%) !important;
  border-radius: 0.5rem !important;
  width: 100% !important;
  max-width: 70vw !important;
  display: flex !important;
  padding: 0.5rem !important;
}
[data-origin^=message-drawer-toggle] .closewidget, [data-origin^=message-user-button] .closewidget {
  display: flex !important;
  justify-content: flex-end !important;
  background-color: transparent !important;
  /* CLOSE POPUP MESSENGER BUTTON */
}
[data-origin^=message-drawer-toggle] .closewidget a, [data-origin^=message-user-button] .closewidget a {
  align-self: flex-end !important;
  margin: 0 !important;
  background-color: transparent !important;
  height: 2rem !important;
  width: 2rem !important;
}
[data-origin^=message-drawer-toggle] .closewidget a i, [data-origin^=message-user-button] .closewidget a i {
  width: 100% !important;
  height: 100% !important;
  position: relative !important;
  /* CLOSE POPUP MESSENGER X ICON*/
}
[data-origin^=message-drawer-toggle] .closewidget a i::before, [data-origin^=message-user-button] .closewidget a i::before {
  content: "╳" !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  translate: -50% -50% !important;
  color: hsl(260deg, 5%, 50%) !important;
}

/* PROFILE BUTTON */
a#action-menu-toggle-1 .userbutton .avatars {
  margin-left: 1rem !important;
}

div[data-table-region^=user-index-participants] {
  background-color: hsl(260deg, 13%, 13%) !important;
  outline: 0.1rem solid hsl(260deg, 13%, 18%) !important;
  border-radius: 0.5rem !important;
  border: none !important;
  box-shadow: 0px 0px 2rem hsla(0deg, 0%, 0%, 0.25) !important;
  padding: 1rem !important;
}
div[data-table-region^=user-index-participants] .border-radius.bg-white {
  border: none !important;
  background-color: hsl(260deg, 13%, 18%) !important;
  border-radius: 0.5rem !important;
  padding: 1rem !important;
}

/* BUTTONS AND LINKS / SELECT */
button.nav-link.float-sm-left.bg-gray {
  background-color: transparent !important;
}
button.nav-link.float-sm-left.bg-gray:hover {
  filter: brightness(120%) !important;
}

button, a {
  background-color: transparent !important;
  color: hsl(260deg, 10%, 70%) !important;
  border-radius: 0.5rem !important;
}
button:hover, button:focus, a:hover, a:focus {
  background-color: hsla(260deg, 20%, 100%, 0.05) !important;
  text-decoration: none !important;
}
button:disabled, button.page-link, a:disabled, a.page-link {
  background-color: transparent !important;
}

select {
  background-color: hsl(260deg, 13%, 10%) !important;
  padding: 0.5rem 2rem !important;
  border-radius: 0.75rem !important;
}

.aalink.focus, #page-footer a:not([class]).focus, .arrow_link.focus, a:not([class]).focus, .activityinstance > a.focus, .aalink:focus, #page-footer a:not([class]):focus, .arrow_link:focus, a:not([class]):focus, .activityinstance > a:focus {
  box-shadow: none !important;
  background-color: transparent !important;
}

.card {
  box-shadow: 0px 0px 2rem hsla(0deg, 0%, 0%, 0.25) !important;
  background-color: hsl(260deg, 13%, 13%) !important;
  outline: 0.1rem solid hsl(260deg, 13%, 18%) !important;
  border-radius: 0.5rem !important;
  border: none !important;
}

p, h1, h2, h3, h4, h5, h6, span, div {
  color: hsl(260deg, 5%, 50%) !important;
  background-color: transparent !important;
}

div#goto-top-link > a {
  background-color: hsl(260deg, 13%, 13%);
}

/* REPORTS IN PROFILE */
table.generaltable:not(.course-box) {
  background-color: hsl(260deg, 13%, 10%) !important;
  border-radius: 0.5rem !important;
}
table.generaltable:not(.course-box) th, table.generaltable:not(.course-box) td {
  padding: 0.75rem !important;
}
table.generaltable:not(.course-box) * {
  background-color: transparent !important;
  color: hsl(260deg, 5%, 50%) !important;
}
table.generaltable:not(.course-box) a {
  color: hsl(260deg, 10%, 70%) !important;
}
table.generaltable:not(.course-box) a:hover {
  color: hsl(260deg, 5%, 50%) !important;
}

/* INPUT / SEARCH / SUBMIT */
input {
  background-color: hsl(260deg, 13%, 10%) !important;
  padding: 0.75rem 2rem !important;
  border-radius: 0.5rem !important;
}
input.form-control {
  background-color: hsl(260deg, 13%, 10%) !important;
}
input.btn {
  background-color: hsl(260deg, 13%, 18%) !important;
  padding: 0.75rem 2rem !important;
  border-radius: 0.5rem !important;
  font-weight: bold !important;
}
input.btn:hover {
  filter: brightness(120%) !important;
}
input.btn.btn-primary {
  background-color: hsl(210deg, 100%, 40%) !important;
}
input.btn.btn-secondary {
  color: hsl(260deg, 5%, 50%);
}

button.btn-submit {
  background-color: transparent !important;
}

textarea {
  background-color: hsl(260deg, 13%, 10%) !important;
  border-radius: 0.5rem !important;
}
textarea.bg-light {
  background-color: inherit !important;
  border-color: inherit !important;
}

/* PROFILE TREE / ABOUT */
div.profile_tree a {
  padding: 0.5rem 0.5rem !important;
}
div.profile_tree ul {
  display: flex !important;
  flex-direction: column !important;
  gap: 0.1rem !important;
}
div.profile_tree ul.inline-list {
  display: inline-flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}
div.profile_tree ul li {
  display: flex !important;
}
div.profile_tree ul li span {
  display: flex !important;
}
div.profile_tree ul li span a:hover {
  color: hsl(260deg, 10%, 70%) !important;
}

/* TEXT EDITOR */
div.editor_atto_wrap {
  background-color: hsl(260deg, 13%, 10%) !important;
  padding: 0.5rem 0.5rem !important;
  border-radius: 0.5rem !important;
}

/* RECENTLY ADDED COURSES */
div.block-recentlyaccessedcourses div.one-row > div {
  overflow: hidden !important;
  border-radius: 0.5rem !important;
}

/* LOGIN */
body#page-login-index section#region-main {
  background: none !important;
  box-shadow: none !important;
  outline: none !important;
}
body#page-login-index section#region-main .card {
  background: none !important;
  box-shadow: none !important;
  outline: none !important;
}
body#page-login-index button#loginbtn {
  background-color: hsl(260deg, 13%, 18%) !important;
}
body#page-login-index button#loginbtn:hover {
  background-color: hsl(260deg, 13%, 22%) !important;
}

/* TABLE OF SUBJECTS */
.card-text.content {
  /* each subject */
}
.card-text.content > .customtitle, .card-text.content > .legend-box {
  display: none !important;
}
.card-text.content > div:nth-child(n+4) {
  margin-top: 3rem !important;
  /* SUBJECT NAME */
}
.card-text.content > div:nth-child(n+4) > h3 {
  padding: 0.5rem !important;
}
.card-text.content > div:nth-child(n+4) > h3:hover {
  filter: brightness(120%);
}
.card-text.content > div:nth-child(n+4) > h3 > a:hover {
  background-color: transparent !important;
}
.card-text.content > div:nth-child(n+4) .course-box {
  overflow: hidden !important;
  border-radius: 0.5rem !important;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody {
  background-color: hsla(260deg, 10%, 10%, 0.8) !important;
  width: auto !important;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody > tr > td {
  padding: 1rem !important;
  background-color: transparent !important;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody > tr > td [style*="#FF3300"] {
  background-color: hsl(265deg, 50%, 20%) !important;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody > tr > td [style*="#F7FE2E"] {
  background-color: hsl(265deg, 50%, 20%) !important;
  position: relative !important;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody > tr > td [style*="#F7FE2E"]::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15%;
  pointer-events: none;
  animation: yellowCell 2s infinite alternate ease-in-out;
  background-color: hsl(270deg, 50%, 45%);
}
@keyframes yellowCell {
  0% {
    filter: opacity(0.3);
  }
  100% {
    filter: opacity(1);
  }
}
.card-text.content > div:nth-child(n+4) .course-box > tbody > tr > td [style*="#33CC00"] {
  position: relative !important;
  background-color: hsl(275deg, 75%, 60%) !important;
  background-image: none !important;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody > tr > td [style*=up]::after {
  content: "👍";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  pointer-events: none;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody > tr > td [style*=down]::after {
  content: "👎";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  pointer-events: none;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody > tr > td [style*="#CCCCCC"] {
  background-color: hsl(260deg, 13%, 18%) !important;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody > tr > td a {
  border-radius: 0 !important;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody .progressbox .progressbar {
  /* CELL */
}
.card-text.content > div:nth-child(n+4) .course-box > tbody .progressbox .progressbar td.cm {
  border-style: solid !important;
  border-color: hsl(0deg, 0%, 10%) !important;
  border-width: 0.1rem !important;
  opacity: 0.85 !important;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody .progressbox .progressbar td.cm:hover, .card-text.content > div:nth-child(n+4) .course-box > tbody .progressbox .progressbar td.cm:active {
  translate: 0 -0.15rem !important;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody .progressbox .progressbar tbody tr span {
  display: none;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody .progressbox .cminfobox {
  margin-top: 0.5rem !important;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody .progressbox .cminfobox span.cminfoboxcontent {
  display: flex !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  padding: 0.25rem 0.5rem !important;
  background-color: hsl(260deg, 13%, 18%) !important;
  border-radius: 0.5rem !important;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody .progressbox .cminfobox span.cminfoboxcontent:hover {
  background-color: hsl(260deg, 13%, 22%) !important;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody .progressbox .cminfobox span.cminfoboxcontent a {
  font-size: 0.75rem !important;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody .progressbox .cminfobox span.cminfoboxcontent a:hover {
  background-color: transparent !important;
}
.card-text.content > div:nth-child(n+4) .course-box > tbody .progressbox .cminfobox a.closeinfobox {
  text-align: center !important;
  height: 1.5rem !important;
  aspect-ratio: 1 !important;
}

/* MAIN BLOCK / SUBJECTS / SUBJECT PAGE */
body:not(#page-login-index) div#region-main-box > section#region-main {
  box-shadow: 0px 0px 2rem hsla(0deg, 0%, 0%, 0.25) !important;
  background-color: hsl(260deg, 13%, 13%) !important;
  outline: 0.1rem solid hsl(260deg, 13%, 18%) !important;
  border-radius: 0.5rem !important;
}
body:not(#page-login-index) div#region-main-box > section#region-main span#maincontent {
  display: none !important;
}

/* DIALOGUE / POPUP */
div.yui3-widget.yui3-panel, div.moodle-dialogue, div.yui3-widget-modal, div.modal-dialog {
  background-color: hsl(260deg, 13%, 13%) !important;
  padding: 1rem !important;
  border-radius: 0.5rem !important;
  outline: 0.1rem solid hsl(260deg, 13%, 18%) !important;
}

/* UPLOAD FILE FORM */
div.fp-upload-form input, div.fp-upload-form button {
  background-color: hsl(260deg, 13%, 10%) !important;
  padding: 0.75rem 2rem !important;
  border-radius: 0.5rem !important;
}

div.fp-upload-form button.fp-upload-btn {
  background-color: hsl(260deg, 13%, 18%) !important;
}
div.fp-upload-form button.fp-upload-btn:hover {
  background-color: hsl(260deg, 13%, 22%) !important;
}

div.submissionsummarytable table td {
  /* NOT GRADED */
  /* GRADED */
}
div.submissionsummarytable table td.submissionnotgraded {
  color: hsl(260deg, 10%, 70%) !important;
  font-weight: bold !important;
}
div.submissionsummarytable table td.submissiongraded {
  color: hsl(80deg, 100%, 40%) !important;
  font-weight: bold !important;
}

/* QUIZ */
div.quizattempt button {
  background-color: hsl(260deg, 13%, 18%) !important;
  padding: 1rem 4rem !important;
}
div.quizattempt button:hover {
  background-color: hsl(260deg, 13%, 22%) !important;
}

/* JUMP TO ACTIVITY */
/* SUBMIT */
div.submissionaction button {
  background-color: hsl(260deg, 13%, 18%) !important;
  padding: 0.75rem 2rem !important;
}
div.submissionaction button:hover {
  background-color: hsl(260deg, 13%, 22%) !important;
}

/* MESSENGER */
div.message-app {
  background-color: transparent !important;
  border-width: 0 !important;
  /* EACH MESSAGE IN CHAT*/
}
div.message-app * {
  border-width: 0 !important;
}
div.message-app .bg-white {
  background-color: transparent !important;
}
div.message-app div.content-message-container > div {
  background-color: hsl(260deg, 13%, 10%) !important;
  border-radius: 0.5rem !important;
  outline: 0.1rem solid hsl(260deg, 13%, 18%) !important;
  margin-top: 0.5rem !important;
}
div.message-app div.content-message-container > div > h6 {
  margin-top: 1rem !important;
}

/* TESTS / ATTEMPTS / QUESTION BUTTONS / FINISH TEST */
div.qn_buttons {
  display: flex !important;
  flex-wrap: wrap !important;
}

div.othernav a.endtestlink {
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 0.5rem !important;
}

a.qnbutton {
  background-color: hsl(260deg, 13%, 10%) !important;
  border-radius: 0.5rem !important;
  overflow: hidden !important;
}
a.qnbutton:hover {
  filter: brightness(120%) !important;
}
a.qnbutton.thispage {
  outline: 0.1rem solid hsl(260deg, 13%, 22%) !important;
}
a.qnbutton.answersaved {
  background-color: hsl(260deg, 13%, 22%) !important;
}
a.qnbutton.incorrect {
  outline: 0.1rem solid hsl(20deg, 100%, 40%) !important;
}

/* FINISH TEST / RETURN TO TEST / CONFIRM TEST */
div.submitbtns {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  gap: 1rem !important;
  height: auto !important;
  width: auto !important;
}
div.submitbtns button, div.submitbtns a {
  padding: 0.75rem 2rem !important;
  background-color: hsl(260deg, 13%, 18%) !important;
}
div.submitbtns button:hover, div.submitbtns a:hover {
  background-color: hsl(260deg, 13%, 22%) !important;
}

table.quizattemptsummary a[title^=Просмотр] {
  background-color: hsl(260deg, 13%, 18%) !important;
  color: hsl(260deg, 10%, 70%) !important;
  padding: 0.5rem !important;
}
table.quizattemptsummary a[title^=Просмотр]:hover, table.quizattemptsummary a[title^=Просмотр]:active {
  background-color: hsl(260deg, 13%, 22%) !important;
}

/* CONFIRM TEST */
body#page-mod-quiz-summary div.moodle-dialogue {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  translate: -50% -50% !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
body#page-mod-quiz-summary div.moodle-dialogue div.moodle-dialogue-wrap {
  width: -moz-fit-content !important;
  width: fit-content !important;
}
body#page-mod-quiz-summary div.moodle-dialogue div.moodle-dialogue-wrap .moodle-dialogue-bd {
  width: -moz-fit-content !important;
  width: fit-content !important;
}
body#page-mod-quiz-summary div.moodle-dialogue div.moodle-dialogue-wrap .moodle-dialogue-bd div.confirmation-dialogue {
  display: flex !important;
  flex-direction: column !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  align-items: center !important;
  gap: 1rem !important;
}
body#page-mod-quiz-summary div.moodle-dialogue div.moodle-dialogue-wrap .moodle-dialogue-bd div.confirmation-dialogue div.confirmation-buttons {
  display: flex !important;
  flex-direction: row-reverse !important;
  gap: 1rem !important;
  align-self: flex-end !important;
  width: auto !important;
  flex-wrap: nowrap !important;
  align-items: center !important;
}
body#page-mod-quiz-summary div.moodle-dialogue div.moodle-dialogue-wrap .moodle-dialogue-bd div.confirmation-dialogue div.confirmation-buttons input {
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: 0.75rem 2rem !important;
}/*# sourceMappingURL=main.css.map */