//#region font

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v23/iJWKBXyIfDnIV7nFrXyi0A.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v23/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v23/iJWKBXyIfDnIV7nFrXyi0A.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v23/iJWKBXyIfDnIV7nBrXw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

//#endregion

$dark-0: hsl(260, 13%, 10%);
$dark-1: hsl(260, 13%, 13%);
$dark-2: hsl(260, 13%, 18%);
$dark-3: hsl(260, 13%, 22%);
$hightlight: hsla(260, 20%, 100%, 0.05);
$text-primary: hsl(260, 10%, 70%);
$text-secondary: hsl(260, 5%, 50%);

$purple-0: hsl(265, 50%, 20%);
$purple-1: hsl(270, 50%, 45%);
$purple-2: hsl(275, 75%, 60%);

@mixin shadow {
  box-shadow: 0px 0px 2rem hsla(0, 0%, 0%, 0.25) !important;
}
@mixin card {
  background-color: $dark-1 !important;
  outline: 0.1rem solid $dark-2 !important;
  border-radius: 0.5rem !important;
  border: none !important;
}
@mixin importantButton {
  background-color: $dark-2 !important;
  border: 0.1rem solid $hightlight !important;
  padding: 0.75rem 2rem !important;

  &:hover, &:active {
    background-color: $dark-3 !important;
  }
}
@mixin linkAnchor {
  @include card;
  padding: 0.2rem 0.4rem !important;
  font-weight: bold !important;
  color: $text-primary !important;

  &:hover, &:focus, &:active {
    filter: brightness(120%) !important;
  }
  &::before {
    content: '🔗';
    margin-right: 0.25rem;
    height: 100%;
    aspect-ratio: 1;
  }
}
@mixin smoothAppearAnim($move: true) {
  animation: smoothAppear 0.1s ease-in-out;

  @keyframes smoothAppear {
    0% {
      opacity: 0;
      @if #{$move} {
        translate: 0 -1rem;
      }
    }
    100% {
      opacity: 1;
      @if #{$move} {
        translate: 0 0;
      }
    }
  }
}
@mixin pulseAnim {
  animation: pulse 1s infinite alternate ease-in-out;

  @keyframes pulse {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}
@mixin prettyMarkdown {
  * {
    color: $text-secondary !important;
  }
  // HEADERS
  h1, h2, h3 {
    margin-top: 2.5rem !important;
    margin-bottom: 1rem !important;
    color: $text-primary !important;

    &::after {
      content: '';
      margin-top: 0.25rem;
      display: flex;
      width: 100%;
      height: 0.15rem;
      background-color: $hightlight;
    }
  }
  // LINKS
  a[href] {
    @include linkAnchor;
  }
  // CODE
  pre {
    @include card;
    background-color: $hightlight !important;
    padding: 1rem !important;
  }
  // INNER EMBEDDED TABLES
  table {
    @include card;
    background-color: $dark-0 !important;
    margin-bottom: 1rem !important;

    thead {
      background-color: $hightlight !important;
    }
  }
}
body {
  background-color: $dark-0 !important;
}
/* APPLY FONT SO ICONS DO NOT BREAK */
body, html {
  font-family: 'Rubik' !important;
}
footer#page-footer {
  background-color: black !important;
}
/* SLIDER */
::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: $dark-2;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-corner {
  display: none;
}
*, *:active, *:focus {
  border-width: 0 !important;
  border: none !important;
  outline-width: 0 !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important; 
  transition: all 0.1s !important;

  &::selection {
    background-color: $purple-1 !important;
    color: white !important;
  }
}
header#page-header {
  display: none !important;
}
section {
  &.block {
    overflow: hidden !important;
    border-radius: 0.5rem !important;
  }
  &.block_mycourses {
    outline: none !important;
  }
  // OUTER LINKS / SPRAVKA ZACHETKA
  &.block_html:has(a[href*=spravka]) {

    * {
      margin: 0 !important;
    }
    .no-overflow {
      overflow: visible !important;

      h4 {
        display: flex !important;
        flex-wrap: wrap !important;
        gap: 0.75rem !important;

        a {
          @include linkAnchor;
          font-size: 1rem !important;
        }
      }
    }
    
  }
  // MY TEACHERS 
  &.block_myteachers {
    div:has(> img, > a) {
      display: flex !important;
      flex-wrap: nowrap !important;
      gap: 0.25rem !important;
      align-items: center !important;

      * {
        margin: 0 !important;
      }
      > img {
        border-radius: 50% !important; 
        width: 1.5rem !important;
        height: 1.5rem !important;

      }
      > a {
        padding: 0.25rem 0.5rem !important;
      }
    }
  }
  // ONLINE USERS
  &.block_online_users {
    ul {
      > li {
        display: flex !important;
        gap: 0.25rem !important;
        align-items: center !important;

        > .user {
          display: flex !important;
          
          > a {
            padding: 0.25rem 0.5rem !important;
          }
        }
        > .message {
          margin: 0 !important;

          > a {
            padding: 0.25rem !important;

            &:hover, &:focus, &:active {
              background-color: transparent !important;

              > i::before {
                color: $text-secondary !important;
              }
            }
            > i {
              margin: 0 !important;
            }
          }
        }
      }
    }
  }
  // ACTIVITY / COUSE ELEMENTS
  &.block_activity_modules {
    ul li div {
      display: flex !important;

      a {
        padding: 0.25rem 0.5rem !important;
      }
    }
  }
}
/* DROPDOWN MENUS */
div.dropdown-menu, ul.dropdown-menu {
  @include card;
  @include shadow;
  @include smoothAppearAnim;

  li a {
    border-radius: 0.5rem !important;
    padding: 0.25rem !important;

    &:hover {
      &, i, span {
        color: $text-secondary !important;
        background-color: transparent !important;
      }
    }
  }
  .show {
    background-color: $dark-0 !important;
    border-radius: 0.5rem !important;
    padding: 0.5rem !important;
  }
  a.dropdown-item {
    background-color: transparent !important;
  
    &:hover, &:active {
      filter: brightness(120%) !important;
    }
  }
}
div.popover-region-container {
  @include card;
  @include shadow;
  @include smoothAppearAnim;
  background-color: $dark-0 !important;
  padding: 0.5rem !important;
}
// BELL BUTTON / ICON
div.popover-region-toggle.nav-link {
  border-radius: 0.5rem !important;
  box-shadow: none !important;

  &:focus {
    @include pulseAnim;
  }
  &:hover, &:focus, &:active {
    > i {
      color: $text-secondary !important;
    }
  }
  &::after, &::before {
    display: none !important;
  }
  > i {
    color: $text-primary !important;
  }
}
#page-wrapper {
  background: 
    radial-gradient(70vw circle at -20vw -40vw,hsla(270, 100%, 70%, 0.6) 0%, transparent 100%),
    radial-gradient(60vw circle at 60vw -30vw,hsla(290, 100%, 70%, 0.2) 0%, transparent 100%);
  /* POPUP NAV LEFT / COMPACT NAVBAR */
  > #nav-drawer {
    background-color: $dark-0 !important;
    top: 0 !important;
    bottom: 0 !important;
  }

  // NAVBAR

  > nav.navbar.fixed-top {
    background-color: transparent !important;
    position: relative !important;
    display: flex !important;
    align-items: center !important;
    padding: 3rem 2rem 0 2rem;
    box-shadow: none;
    max-height: initial !important;

    // LEFT HAMBURGER
    button:has(i.fa-bars) {
      display: flex !important;
      align-items: center !important;
      color: $text-primary !important;
      
      &:hover {
        color: $text-secondary !important;
      }
    }

    a.navbar-brand, span.site-name, ul li a {
      color: $text-primary !important;
      
      &:hover, &:active {
        background-color: transparent !important;
        color: $text-secondary !important;
      }
    }
    a.navbar-brand {
      width: 1.75rem !important;
      height: 1.75rem !important;
      position: relative !important;
      background-color: $text-primary !important;
      mask: url('chrome-extension://__MSG_@@extension_id__/images/home.svg');
      
      &:hover, &:focus, &:active {
        background-color: $text-secondary !important;
      }
      > span {
        display: none !important;
      }
    }
    ul:nth-child(3) {
      @media (max-width: 1140px) {
        display: none !important;
      }
    }
    // PROFILE IN NAV
    .nav.usernav {
      flex-wrap: nowrap !important;

      a#action-menu-toggle-1 .userbutton .avatars {
        margin-left: 1rem !important;  
      }
      // NEW MESSAGES OR NOTIFICATIONS NUMBER
      .count-container {
        @include pulseAnim;
        background-color: $purple-2 !important;
        color: white !important;
        border-radius: 50% !important;
        width: 1rem !important;
        aspect-ratio: 1 !important;
        text-align: center !important;
        margin-left: 0.2rem !important;
      }
    }
  }
}

/* POPUP MESSENGER / COMPACT MESSENGER */
/* BACKGROUND */
[data-origin^=message-drawer-toggle], [data-origin^=message-user-button] {
  transition: transform 0s !important;

  &.bg-white {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: hsla(0, 0%, 0%, 0.50) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 1031 !important;
    @include smoothAppearAnim;
  }
  /* MESSAGE APP AS POPUP ON DARK BACKGROUND*/
  & .message-app {
    height: calc(100% - 2rem) !important;
    width: calc(80% - 2rem) !important;
    display: flex !important;
  }
  & .closewidget {
    display: flex !important;
    justify-content: flex-end !important;
    background-color: transparent !important;
    
    /* CLOSE POPUP MESSENGER BUTTON */
    & a {
      align-self: flex-end !important;
      margin: 0 !important;
      background-color: transparent !important;
      height: 2rem !important;
      width: 2rem !important;

      & i {
        width: 100% !important;
        height: 100% !important;
        position: relative !important;

        /* CLOSE POPUP MESSENGER X ICON*/
        &::before {
          content: '\2573' !important;
          position: absolute !important;
          top: 50% !important;
          left: 50% !important;
          translate: -50% -50% !important;
          color: $text-secondary !important;
        }
      }
    }
  }
}


// PARTICIPANTS
div[data-table-region^="user-index-participants"] {
  @include card;
  @include shadow;
  padding: 1rem !important;

  & .border-radius.bg-white {
    border: none !important;
    background-color: $dark-2 !important;
    border-radius: 0.5rem !important;
    padding: 1rem !important;
  }
}
/* BUTTONS AND LINKS / SELECT */
button.nav-link.float-sm-left.bg-gray {
  background-color: transparent !important;

  &:hover {
    filter: brightness(120%) !important;
  }
}
button, a {
  background-color: transparent !important;
  color: $text-primary !important;
  border-radius: 0.5rem !important;
  box-shadow: none !important; // DESTROY NATIVE EDU OULINE 

  &:hover, &:active, &:focus {
    background-color: $hightlight !important;
    text-decoration: none !important;
  }
  &:focus {
    @include pulseAnim;
  }
  &:disabled, &.page-link {
    background-color: transparent !important;
  }
  i.icon.text-info {
    color: $purple-1 !important;
    margin: 0 !important;
    
    &:hover, &:active, &:focus {
      color: $purple-2 !important;
    }
  }
}
select {
  @include card;
  background-color: $dark-0 !important;
  padding: 0.5rem 2rem !important;
  border-radius: 0.5rem !important;
  box-shadow: none !important;
  color: $text-primary !important;

  &:focus {
    outline: 0.2rem solid $hightlight !important;
  }
}
.aalink.focus, #page-footer a:not([class]).focus, .arrow_link.focus, a:not([class]).focus, .activityinstance>a.focus, .aalink:focus, #page-footer a:not([class]):focus, .arrow_link:focus, a:not([class]):focus, .activityinstance>a:focus {
  box-shadow: none !important;
  background-color: transparent !important;
}
.card {
  @include shadow;
  @include card;
}
p, h1, h2, h3, h4, h5, h6, span, div {
  color: $text-secondary !important;
  background-color: transparent !important;
}
div#goto-top-link > a {
  background-color: $dark-1;
}


// TABLES
table.generaltable:not(.course-box), .course-content table, table.preference-table {
  background-color: $dark-0 !important;
  border-radius: 0.5rem !important;

  & th, & td {
    padding: 0.75rem !important;
  }
  & * {
    background-color: transparent !important;
    color: $text-secondary !important;
  }
  & a {
    color: $text-primary !important;

    &:hover {
      color: $text-secondary !important;
    }
  }
  // MARKDOWN HTML TEXT ANSWER
  div[class*=assignsubmission_onlinetext] {
    @include card;
    background-color: transparent !important;
    padding: 1rem !important;
    
    div.no-overflow {
      @include prettyMarkdown;
      overflow: visible !important;
      margin-top: 1rem !important;
    }
  }
}



/* INPUT / SEARCH / SUBMIT */
input {
  background-color: $dark-0 !important;
  padding: 0.75rem 1rem !important;
  border-radius: 0.5rem !important;
  box-shadow: none !important;
  color: $text-primary !important;

  &:focus {
    outline: 0.2rem solid $hightlight !important;
  }
  &.form-control {
    background-color: $dark-0 !important;
  }
  &.btn {
    background-color: $dark-2 !important;
    padding: 0.75rem 2rem !important;
    border-radius: 0.5rem !important;
    font-weight: bold !important;

    &:hover {
      filter: brightness(120%) !important;  
    }
    &.btn-primary {
      border: 0.1rem solid $hightlight !important;
      padding: 0.75rem 2rem !important;
      background-color: $purple-1 !important;
      color: white !important;
    }
    &.btn-secondary {
      color: $text-secondary !important;
    }
  }
}
button.btn-submit {
  background-color: transparent !important;
}
textarea {
  background-color: $dark-0 !important;
  border-radius: 0.5rem !important;
  padding: 1rem !important;
  color: $text-primary !important;
  box-shadow: none !important; // DESTROY NATIVE EDU OULINE 
  
  &:focus, &:active {
    outline: 0.1rem solid $purple-1 !important;
  }
  &.bg-light {
    background-color: inherit !important;
    border-color: inherit !important;
  }
}


// PROFILE TREE / ABOUT 

.profile_tree {

  a[href*=user\/edit] {
    @include importantButton;
  }
  a[href*=mailto] {
    @include linkAnchor;
    display: flex !important;
    margin-top: 1rem !important;
  }
  a {
    padding: 0.5rem 0.5rem !important;
  }
  ul {
    display: flex !important;
    flex-direction: column !important;
    gap: 0.1rem !important;
    
    &.inline-list {
      display: inline-flex !important;
      flex-direction: row !important;
      flex-wrap: wrap !important;
    }
    li {
      display: flex !important;

      span {
        display: flex !important;

        a:hover {
          color: $text-primary !important;
        }
      }
    }
  }
}
.userprofile {
  
  .page-context-header {
    display: inline-flex !important;
    padding: 0 !important;
    margin-bottom: 1rem !important;
    gap: 1rem !important;
    flex-wrap: wrap !important;
    align-items: center !important;
    
    .page-header-image {
      margin: 0 !important;
      
      img.userpicture {
        margin: 0 !important;
      }
    }
    .page-header-headings {
      display: inline-flex !important;
      
      & > h2 {
        margin: 0 !important;
      }
    }
    .header-button-group {
      display: inline-flex !important;
      flex-wrap: nowrap !important;
      gap: 1rem !important;
      
      & > a {
        @include importantButton; 
      }
    }
  }
  .profile_tree {
    
    a[href*=user\/edit] {
      @include importantButton;
    }
    a[href*=mailto] {
      @include linkAnchor;
      display: flex !important;
      margin-top: 1rem !important;
    }
    a {
      padding: 0.5rem 0.5rem !important;
    }
    ul {
      display: flex !important;
      flex-direction: column !important;
      gap: 0.1rem !important;
      
      &.inline-list {
        display: inline-flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
      }
      li {
        display: flex !important;
  
        span {
          display: flex !important;
  
          a:hover {
            color: $text-primary !important;
          }
        }
      }
    }
  }
}

/* TEXT EDITOR */
div.editor_atto_wrap {
  background-color: $dark-0 !important;
  padding: 0.5rem 0.5rem !important;
  border-radius: 0.5rem !important;
}

/* RECENTLY ADDED COURSES */
div.block-recentlyaccessedcourses div.one-row > div {
  overflow: hidden !important;
  border-radius: 0.5rem !important;
}


/* LOGIN */
body#page-login-index {

  section#region-main {
    background: none !important;
    box-shadow: none !important;
    outline: none !important;
    
    .card {
      background: none !important;
      box-shadow: none !important;
      outline: none !important;
    }
  }
  button#loginbtn {
    @include importantButton;
  }
  div.forgetpass a {
    padding: 0.5rem !important;
  }
}

// POPOVER (CALENDER)

div.popover {
  @include card;
  @include shadow;
  @include smoothAppearAnim;  
  transition: transform 0s !important;

  div::after, div::before {
    display: none !important;
  }
}


// CALENDER

td.hasevent {
  background-color: $dark-2 !important;
  &:hover, &:active, &:focus {
    background-color: $dark-3 !important;
  }
  
  a {
    border-radius: 0 !important;
    
    &:hover, &:active, &:focus {
      background-color: transparent !important;
    }
  }
}

/* TABLE OF SUBJECTS */


.card-text.content {

  & > .customtitle, & > .legend-box {
    display: none !important;
  }
  /* each subject */
  & > div:nth-child(n+4) {
    margin-top: 3rem !important;

    /* SUBJECT NAME */
    & > h3 {
      padding: 0.5rem !important;

      &:hover {
        filter: brightness(120%);
      }
      & > a:hover {
        background-color: transparent !important;
      }
    }
    & .course-box {
      overflow: hidden !important;
      border-radius: 0.5rem !important;
  
      & > tbody {
        background-color: hsla(260, 10%, 10%, 0.8) !important;
        width: auto !important;
    
        // CELLS BACKGROUND
        & > tr > td {
          padding: 1rem !important;
          background-color: transparent !important;

          // EACH CELL
          &.cell td[class*=cm] {

            // RED
            &[style*=\#FF3300] {
              background-color: $purple-0 !important;
              position: relative !important;
  
              // HOURGLASS 
              &[style*=sandglass] {
                position: relative !important;
                background-image: none !important;
  
                &::after {
                  content: '⏳';
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  translate: -50% -50%;
                  pointer-events: none;
                  animation: hourglass 4s infinite normal ease-in-out;

                  @keyframes hourglass {
                    0%, 25% {
                      rotate: 0deg;
                    }
                    25%, 50% {
                      rotate: 180deg;
                    }
                    50%, 75% {
                      rotate: 180deg;
                    }
                    75%, 100% {
                      rotate: 360deg;
                    }
                  }
                }
              }
            }
            // YELLOW
            &[style*=\#F7FE2E] {
              background-color: $purple-0 !important;
              position: relative !important;
              
              &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 15%;
                pointer-events: none;
                animation: yellowCell 2s infinite alternate ease-in-out;
                background-color: $purple-1;
                
                @keyframes yellowCell {
                  0% {
                    filter: opacity(0.3);
                  }
                  100% {
                    filter: opacity(1);
                  }
                }
              }
            }
            // GREEN
            &[style*=\#33CC00] {
              position: relative !important;
              background-color: $purple-2 !important;
              background-image: none !important;
  
              &[style*=up\.png] {
                &::after {
                  content: '👍';
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  translate: -50% -50%;
                  pointer-events: none;
                }
              }
              &[style*=down\.png] {
                &::after {
                  content: '👎';
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  translate: -50% -50%;
                  pointer-events: none;
                }
              }
            }
            // GRAY / FORUMS
            &[style*="#CCCCCC"] {
              background-color: $dark-2 !important;
            }
            a {
              border-radius: 0 !important;
            }
          }
        }
        .progressbox {
    
          .progressbar {
            
            /* CELL */
            & td.cm {
              border-style: solid !important;
              border-color: hsl(0, 0%, 10%) !important;
              border-width: 0.1rem !important;
              opacity: 0.85 !important;
              transition: translate 0.1s !important;

              &:hover, &:active {
                translate: 0 -0.15rem !important;
              }
            }
            & tbody tr span {
              display: none;
            }
          }
          // GO TO TEST / TASK / FORUM
          .cminfobox {
            margin-top: 0.5rem !important;

            span.cminfoboxcontent {
              display: flex !important;
              width: fit-content !important;
              height: fit-content !important;
              padding: 0.25rem 0.5rem !important;
              background-color: $dark-2 !important;
              border-radius: 0.5rem !important;
              @include smoothAppearAnim(false);

              &:hover {
                background-color: $dark-3 !important;
              }
              a {
                font-size: 0.75rem !important;
                
                &:hover {
                  background-color: transparent !important;
                }
                
              }
            }
            a.closeinfobox {
              text-align: center !important;
              height: 1.5rem !important;
              aspect-ratio: 1 !important;
            }
          }
        }
      }
    }
  }
  
}

/* MAIN BLOCK / SUBJECTS / SUBJECT PAGE */

body:not(#page-login-index) div#region-main-box > section#region-main {
  @include shadow;
  background-color: $dark-1 !important;
  outline: 0.1rem solid $dark-2 !important;
  border-radius: 0.5rem !important;

  & span#maincontent {
    display: none !important;
  } 

  .course-content {
    .no-overflow {
      overflow: visible !important;
      @include prettyMarkdown;
    }
  }
}

// DIALOGUE / POPUP

.yui3-widget.yui3-panel, .moodle-dialogue, .yui3-widget-modal, .modal-dialog {
  @include card;
  transition: transform 0s !important;
  @include smoothAppearAnim;
  @include shadow;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  translate: -50% -50% !important;
  width: calc(100vw - 2rem) !important;
  max-width: fit-content !important;
  height: fit-content !important;
  background-color: $dark-1 !important;
  padding: 1rem !important;

  .moodle-dialogue-bd {
    overflow: auto !important;
  }
}


// UPLOAD FILE FORM BLOCK

div.filemanager {
  @include card;
  @include shadow;
  padding: 1rem !important;
  display: flex !important;
  flex-flow: column !important;
  gap: 1rem !important;
  
  .filemanager-container, .card {
    outline: none !important;
    box-shadow: none !important;
    overflow: visible !important;

    .fm-empty-container {
      @include card;
      background-color: $dark-0 !important;
      position: relative !important;
      top: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      padding: 1rem !important;
  
      .dndupload-message {
        height: 30rem !important;
  
        .dndupload-arrow {
          background-image: url(https://imgur.com/cYYJ8OG.png) !important;
          background-size: contain !important;
          animation: file 1s infinite alternate ease-in-out;
          position: relative !important;
          top: 0 !important;
          right: 0 !important;
          bottom: 0 !important;
          left: 0 !important;
          margin-block: 1rem !important;
          cursor: pointer !important;
           
          @keyframes file {
            from {
              translate: 0 0;
              opacity: 1;
            }
            to {
              translate: 0 0.5rem;
              opacity: 0.5;
            }
          }
        }
      }
    }
    .fp-upload-form {
  
      input, div {
  
        background-color: $dark-0 !important;
        padding: 0.75rem 2rem !important;
        border-radius: 0.5rem !important;
      }
    }
  }
}

// UPLOAD FILE POPUP

.moodle-dialogue.filepicker {
  
  @media (max-width: 768px) {
    min-width: calc(100vw - 2rem) !important;
  }
  div.fp-repo-items {
    padding: 0.5rem !important;
  
    .card {
      outline: none !important;
      box-shadow: none !important;
    }
    // CHOOSE FILE INPUT
    .fp-file div:nth-child(2) {
      padding: 0 !important;

      input {
        width: 100% !important;
        padding: 1rem !important;
        @include pulseAnim;

        &::-webkit-file-upload-button {
          display: none !important;
        }
        &:hover {
          cursor: pointer !important;
        }
      }
    }
    .fp-upload-btn {
      background-color: $dark-2 !important;
      padding: 0.75rem 2rem !important;
  
      &:hover {
        background-color: $dark-3 !important;
      }
    }
  }
}

// GRADES
div.submissionsummarytable table td {
  
  // NOT GRADED
  &.submissionnotgraded {
    color: $text-primary !important;
    font-weight: bold !important;
  }
  // GRADED
  &.submissiongraded {
    color: hsl(80, 100%, 40%) !important;
    font-weight: bold !important;
  }
  // COMMENT
  .comment-area {
    @include card;
    background-color: transparent !important;
    padding: 0.5rem !important;
    margin: 1rem 0 0 0 !important;
  }
}
/* JUMP TO ACTIVITY */

// SUBMIT / RESUBMIT
div.submissionaction button {
  @include importantButton;
}


/* MESSENGER */


.message-app, .message-app.bg-light {
  @include card;
  @include shadow;
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: nowrap !important;
  gap: 0.5rem !important;
  background-color: $dark-1 !important;
  border: none !important;
  padding: 1rem !important;

  textarea {
    @include card;
    background-color: $dark-0 !important;
    padding: 0.5rem !important;
    flex: 1 !important;
  }
  button[data-action=send-message] {
    margin: 0 !important;
    margin-left: 0.5rem !important;
    justify-self: center !important;
    flex: 1 !important;
  }
  // TWO SIDES MESSENGER
  .container-fluid {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    padding: 0 !important;
    height: 100% !important;

    > div:nth-child(1) {
      display: flex !important;
      flex-direction: row !important;
      flex-wrap: nowrap !important;
      gap: 1rem !important;

      > div {
        padding: 0 !important;
      }
      // LEFT SIDE
      > div:nth-child(1) {

        > div:nth-child(1) {

          display: flex !important;
          flex-direction: column !important;
          flex-wrap: nowrap !important;
          gap: 1rem !important;
        }
      }
      // RIGHT SIDE
      > div:nth-child(2) {
        display: flex !important;
        flex: 1 !important;
        gap: 0.5rem !important;
      }
    }
  }
  [class*=header-container] {

    [data-region="view-overview"] {
      display: flex !important;
      flex-direction: row !important;
      flex-wrap: wrap !important;
      padding: 0 !important;
      align-items: center !important;
      gap: 0.5rem !important;
      
      > div:nth-child(1) {
        display: flex !important;
        align-items: center !important;
        flex: 1 !important;
        gap: 0.5rem !important;

        // SEARCH USER ICON
        span {
          display: flex !important;
          align-items: center !important;
        }
      }
      *:not(.hidden) {
        display: inline-flex !important;
        margin: 0 !important;
      }
      a[data-route="view-contacts"] {
        @include importantButton;  
        align-items: center !important;
        gap: 0.25rem !important;
      }
    }
  }
  [class*=body-container] {
    overflow: visible !important;
    
    [class*=view-overview-body] {
      overflow: visible !important;

      [id*=message-drawer-view-overview-container] {
        @include card;
        // @include shadow;
        background-color: $dark-0 !important;
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        overflow: visible !important;
        padding: 0.5rem !important;
    
        .section.card {
          background: none !important;
          box-shadow: none !important;
          outline: none !important;
        }
      }
    }

    // CHAT INSIDE MESSENGER
    [data-region=view-conversation] {
      padding: 0 !important;
  
      // PERSON IN CHAT IN HEADER
      a[data-action=view-contact] {
        padding: 0.5rem !important;
      }
      .message {
        margin: 0 !important;
        padding: 1rem !important;

        &.received {
          background-color: $dark-1 !important;

          * {
            color: $text-primary !important;
          }
        }
      }
      // CONFIRM DIALOGUE ADD TO CONTACTS
      [data-region=confirm-dialogue] {
        @include card;
        @include shadow;
        @include smoothAppearAnim;

        button {
          @include importantButton;
        }
      }
    }
    &.body-container:has([data-region=view-contacts]:not([aria-hidden=true])) {
      [data-region=view-contacts] {
        overflow: visible !important;
        
        > div:nth-child(1) {
          @include card;
          overflow: hidden !important;
  
          // CONTANTS AND REQUESTS BUTTONS
          div:has(> ul) {
            padding: 0 !important;
            
            > ul {
              display: flex !important;
              flex-wrap: nowrap !important;
              margin: 0 !important;
      
              > li {
                flex: 1 !important;
      
                > a {
                  background-color: $dark-1 !important;
                  border-radius: 0 !important;
                  
                  &:hover, &:focus, &:active {
                    background-color: $dark-2 !important;
                  }
                }
              }
            }
          }
          // CONTANTS LIST
          .tab-content {
            background-color: $dark-0 !important; 
    
            // CONTANTS
            .list-group[data-region=content-container] {
      
              > a {
                border-radius: 0 !important;
                padding: 0.75rem !important;
              }
            }
          }
        }
      }
    }
  }
  
  
  
  *, *[class*=border] {
    border: none !important;
  }
  & .bg-white {
    background-color: transparent !important;
  }
  /* EACH MESSAGE IN CHAT*/
  & .content-message-container > div {
    background-color: $dark-0 !important;
    border-radius: 0.5rem !important;
    outline: 0.1rem solid $dark-2 !important;
    margin-top: 0.5rem !important;
    
    & > h6 {
      margin-top: 1rem !important;
    }
  }
}

// QUIZ / TESTS / ATTEMPTS / QUESTION STATUS BUTTONS / FINISH TEST

// QUESTION STATUS BUTTONS 

div.qn_buttons {
  display: flex !important;
  flex-wrap: wrap !important;
}
.othernav {
  a {
    width: fit-content !important;
    padding: 0.5rem !important;
  }
  a.endtestlink, a.mod_quiz-next-nav {
    @include importantButton;
  }
}
a.qnbutton {
  background-color: $dark-0 !important;
  border-radius: 0.5rem !important;
  overflow: hidden !important;
  
  &:hover {
    filter: brightness(120%) !important;
  }
  &.thispage {
    outline: 0.1rem solid $dark-3 !important;
  }
  &.answersaved {
    background-color: $dark-3 !important;
  }
  &.incorrect {
    outline: 0.1rem solid hsl(20, 100%, 40%) !important;
  }
}
div.quizattempt button {
  @include importantButton;
}
// QUIZ TIME LIMITED / WARNING
form#mod_quiz_preflight_form {
  padding: 1rem !important;

  fieldset[id=id_honestycheckheader] {
    margin: 0 !important;

    & > :nth-child(1) {
      padding: 0 !important;
    }
  }
  div[id=fitem_id_honestycheckmessage] {
    margin: 0 !important;

    // EMPTY BLOCK WTF???
    & > div:nth-child(1) {
      display: none !important;
    }
    & > div:nth-child(2) {
      padding: 0 !important;
      max-width: unset !important;
      flex: unset !important;
    }
  }
  div[id=fgroup_id_buttonar] {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    padding: 0 !important;
    margin-top: 2rem !important;

    // EMPTY BLOCK WTF???
    & > :nth-child(1) {
      display: none !important;
    }
    // BUTTONS
    & > :nth-child(2) {
      padding: 0 !important;
      max-width: unset !important;
      flex: unset !important;
      width: fit-content !important;

      .d-flex.flex-wrap.align-items-center {
        flex-wrap: nowrap !important;
        gap: 0.5rem !important;
  
        .form-group {
          margin: 0 !important;
        }
      }
    }
  }
}
// TEST 
.formulation {

  .ablock {
    display: inline-flex !important;
    flex-direction: column !important;
    gap: 1rem !important;

    .answer {
      @include card;
      @include shadow;
      overflow: hidden !important;

      // EACH ANSWER OPTION
      & > div {
        margin: 0 !important;
        display: flex !important;
        flex-wrap: nowrap !important;
        align-items: center !important;
        
        &:hover, &:active, &:focus {
          background-color: $dark-2 !important;
        }
        &:has(input:checked) {
          background-color: $dark-3 !important;
          
          [data-region=answer-label] {
            // TEXT INSIDE
            * {
              color: $text-primary !important;
            }
          }
          label {
            color: $text-primary !important;
            flex: 1 !important;
          }
        }
        input[type=radio] {
          display: none !important;
        }
        div[data-region=answer-label], label {
          display: flex !important;
          align-items: center !important;
          padding: 0.5rem 2rem !important;
          cursor: pointer !important;
          margin: 0 !important;

          * {
            margin: 0 !important;
          }
        }
      }
    }
  }
}


// FINISH TEST / RETURN TO TEST / CONFIRM TEST / REVIEW QUIZ TEST

div.submitbtns {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  gap: 1rem !important;
  height: auto !important;
  width: auto !important;
  
  button, a {
    @include importantButton;
  }
}
table.quizattemptsummary {
    
  a[title^="Просмотр"] {
    @include importantButton;
  }
}
// TEST REVIEW / RESULTS
form[action*=review] {

  // CORRENT AND INCORRECT ICONS
  i {
    margin: 0.5rem !important;
  }
  table.answer {

    * {
      margin: 0 !important;
    }
    td {
      padding: 0.5rem 1rem !important;

      &.control {
        display: flex !important;
        align-items: center !important;
        flex-wrap: nowrap !important;
        gap: 1rem !important;
      }
    }
  }
  .form-inline {
    align-items: flex-start !important;
 
    & > label {
      display: inline-flex !important;
      gap: 1rem !important;

      span.answer {
        display: inline-flex !important;
        width: fit-content !important;
    
        input {
          width: 10rem !important;
        }
      }
    }
  }
}


/* CONFIRM TEST */
body#page-mod-quiz-summary {

  .moodle-dialogue {
    
    
    .moodle-dialogue-wrap {
      width: fit-content !important;

      .moodle-dialogue-bd {
        width: fit-content !important;
        
        .confirmation-dialogue {
          display: flex !important;
          flex-direction: column !important;
          width: fit-content !important;
          align-items: center !important;
          gap: 1rem !important;
      
          .confirmation-buttons {
            display: flex !important;
            flex-direction: row-reverse !important;
            gap: 1rem !important;
            align-self: flex-end  !important;
            width: auto !important;
            flex-wrap: nowrap !important;
            align-items: center !important;
        
            input {
              width: fit-content !important;
              padding: 0.75rem 2rem !important;  
            }
          }
        }
      }
    }
  }
}


