$dark-0: hsl(260, 13%, 10%);
$dark-1: hsl(260, 13%, 13%);
$dark-2: hsl(260, 13%, 18%);
$dark-3: hsl(260, 13%, 22%);
$hightlight: hsla(260, 20%, 100%, 0.05);
$text-primary: hsl(260, 10%, 70%);
$text-secondary: hsl(260, 5%, 50%);

$purple-0: hsl(265, 50%, 20%);
$purple-1: hsl(270, 50%, 45%);
$purple-2: hsl(275, 75%, 60%);

@mixin shadow {
  box-shadow: 0px 0px 2rem hsla(0, 0%, 0%, 0.25) !important;
}
@mixin card {
  background-color: $dark-1 !important;
  outline: 0.1rem solid $dark-2 !important;
  border-radius: 0.5rem !important;
  border: none !important;
}
@mixin importantButton {
  background-color: $dark-2 !important;
  border: 0.1rem solid $hightlight !important;
  padding: 0.75rem 2rem !important;

  &:hover, &:active {
    background-color: $dark-3 !important;
  }
}
@mixin smoothAppearAnim($move: true) {
  animation: smoothAppear 0.1s ease-in-out;

  @keyframes smoothAppear {
    0% {
      opacity: 0;
      @if #{$move} {
        translate: 0 -1rem;
      }
    }
    100% {
      opacity: 1;
      @if #{$move} {
        translate: 0 0;
      }
    }
  }
}
@mixin pulseAnim {
  animation: pulse 1s infinite alternate ease-in-out;

  @keyframes pulse {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}
@mixin prettyMarkdown {
  * {
    color: $text-secondary !important;
  }
  // HEADERS
  h1, h2, h3 {
    margin-top: 2.5rem !important;
    margin-bottom: 1rem !important;
    color: $text-primary !important;

    &::after {
      content: '';
      margin-top: 0.25rem;
      display: flex;
      width: 100%;
      height: 0.15rem;
      background-color: $hightlight;
    }
  }
  // LINKS
  a[href] {
    @include card;
    padding: 0.2rem 0.4rem !important;
    font-weight: bold !important;
    color: $text-primary !important;

    &:hover, &:focus, &:active {
      filter: brightness(120%) !important;
    }
    &::before {
      content: '🔗';
      margin-right: 0.25rem;
      height: 100%;
      aspect-ratio: 1;
    }
  }
  // CODE
  pre {
    @include card;
    background-color: $hightlight !important;
    padding: 1rem !important;
  }
  // INNER EMBEDDED TABLES
  table {
    @include card;
    background-color: $dark-0 !important;
    margin-bottom: 1rem !important;

    thead {
      background-color: $hightlight !important;
    }
  }
}
body {
  background-color: $dark-0 !important;
}
/* APPLY FONT SO ICONS DO NOT BREAK */
body, html {
  font-family: 'Rubik', Roboto !important;
}
footer#page-footer {
  background-color: black !important;
}
/* SLIDER */
::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: $dark-2;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-corner {
  display: none;
}
*, *:active, *:focus {
  border-width: 0 !important;
  border: none !important;
  outline-width: 0 !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important; 
  transition: all 0.1s !important;

  &::selection {
    background-color: $purple-1 !important;
    color: white !important;
  }
}
header#page-header {
  display: none !important;
}
section.block {
  overflow: hidden !important;
  border-radius: 0.5rem !important;
}
section.block_mycourses {
  outline: none !important;
}
/* DROPDOWN MENUS */
div.dropdown-menu, ul.dropdown-menu {
  @include card;
  @include shadow;
  @include smoothAppearAnim;

  li a {
    border-radius: 0.5rem !important;
    padding: 0.25rem !important;

    &:hover {
      &, i, span {
        color: $text-secondary !important;
        background-color: transparent !important;
      }
    }
  }
  .show {
    background-color: $dark-0 !important;
    border-radius: 0.5rem !important;
    padding: 0.5rem !important;
  }
  a.dropdown-item {
    background-color: transparent !important;
  
    &:hover, &:active {
      filter: brightness(120%) !important;
    }
  }
}
div.popover-region-container {
  @include card;
  @include shadow;
  @include smoothAppearAnim;
  background-color: $dark-0 !important;
  padding: 0.5rem !important;
}
// BELL BUTTON / ICON
div.popover-region-toggle.nav-link {
  border-radius: 0.5rem !important;
  box-shadow: none !important;

  &:focus {
    @include pulseAnim;
  }
  &::after, &::before {
    display: none !important;
  }
}
#page-wrapper {
  background: 
    radial-gradient(70vw circle at -20vw -40vw,hsla(270, 100%, 70%, 0.6) 0%, transparent 100%),
    radial-gradient(60vw circle at 60vw -30vw,hsla(290, 100%, 70%, 0.2) 0%, transparent 100%);
  /* POPUP NAV LEFT / COMPACT NAVBAR */
  & > #nav-drawer {
    background-color: $dark-0 !important;
    top: 0 !important;
    bottom: 0 !important;
  }
  /* NAVBAR */
  & > nav.navbar.fixed-top {
    background-color: transparent !important;
    position: relative !important;
    display: flex !important;
    padding: 4rem 2rem 1rem 2rem;
    box-shadow: none;

    a.navbar-brand, span.site-name, ul li a {
      color: $text-primary !important;
      
      &:hover, &:active {
        background-color: transparent !important;
        color: $text-secondary !important;
      }
    }
    ul:nth-child(3) {
      @media (max-width: 1140px) {
        display: none !important;
      }
    }
    // PROFILE IN NAV
    .nav.usernav {
      flex-wrap: nowrap !important;

      a#action-menu-toggle-1 .userbutton .avatars {
        margin-left: 1rem !important;  
      }
      // NEW MESSAGES OR NOTIFICATIONS NUMBER
      .count-container {
        @include pulseAnim;
        background-color: $purple-2 !important;
        color: white !important;
        border-radius: 50% !important;
        width: 1rem !important;
        aspect-ratio: 1 !important;
        text-align: center !important;
        margin-left: 0.2rem !important;
      }
    }
  }
}

/* POPUP MESSENGER / COMPACT MESSENGER */
/* BACKGROUND */
[data-origin^=message-drawer-toggle], [data-origin^=message-user-button] {
  transition: transform 0s !important;

  &.bg-white {
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: hsla(0, 0%, 0%, 0.50) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    z-index: 1031 !important;
    @include smoothAppearAnim;
  }
  /* MESSAGE APP AS POPUP ON DARK BACKGROUND*/
  & .message-app {
    background-color: $dark-1 !important;
    border-radius: 0.5rem !important;
    height: 80% !important;
    width: 80% !important;
    max-width: 70vw !important;
    display: flex !important;
    padding: 0.5rem !important;
  }
  & .closewidget {
    display: flex !important;
    justify-content: flex-end !important;
    background-color: transparent !important;
    
    /* CLOSE POPUP MESSENGER BUTTON */
    & a {
      align-self: flex-end !important;
      margin: 0 !important;
      background-color: transparent !important;
      height: 2rem !important;
      width: 2rem !important;

      & i {
        width: 100% !important;
        height: 100% !important;
        position: relative !important;

        /* CLOSE POPUP MESSENGER X ICON*/
        &::before {
          content: '\2573' !important;
          position: absolute !important;
          top: 50% !important;
          left: 50% !important;
          translate: -50% -50% !important;
          color: $text-secondary !important;
        }
      }
    }
  }
}


// PARTICIPANTS
div[data-table-region^="user-index-participants"] {
  @include card;
  @include shadow;
  padding: 1rem !important;

  & .border-radius.bg-white {
    border: none !important;
    background-color: $dark-2 !important;
    border-radius: 0.5rem !important;
    padding: 1rem !important;
  }
}
/* BUTTONS AND LINKS / SELECT */
button.nav-link.float-sm-left.bg-gray {
  background-color: transparent !important;

  &:hover {
    filter: brightness(120%) !important;
  }
}
button, a {
  background-color: transparent !important;
  color: $text-primary !important;
  border-radius: 0.5rem !important;
  box-shadow: none !important; // DESTROY NATIVE EDU OULINE 

  &:hover, &:active, &:focus {
    background-color: $hightlight !important;
    text-decoration: none !important;
  }
  &:focus {
    @include pulseAnim;
  }
  &:disabled, &.page-link {
    background-color: transparent !important;
  }
  i.icon.text-info {
    color: $purple-1 !important;
    margin: 0 !important;
    
    &:hover, &:active, &:focus {
      color: $purple-2 !important;
    }
  }
}
select {
  background-color: $dark-0 !important;
  padding: 0.5rem 2rem !important;
  border-radius: 0.75rem !important;
  box-shadow: none !important;

  &:focus {
    outline: 0.2rem solid $hightlight !important;
  }
}
.aalink.focus, #page-footer a:not([class]).focus, .arrow_link.focus, a:not([class]).focus, .activityinstance>a.focus, .aalink:focus, #page-footer a:not([class]):focus, .arrow_link:focus, a:not([class]):focus, .activityinstance>a:focus {
  box-shadow: none !important;
  background-color: transparent !important;
}
.card {
  @include shadow;
  @include card;
}
p, h1, h2, h3, h4, h5, h6, span, div {
  color: $text-secondary !important;
  background-color: transparent !important;
}
div#goto-top-link > a {
  background-color: $dark-1;
}


// TABLES
table.generaltable:not(.course-box), .course-content table, table.preference-table {
  background-color: $dark-0 !important;
  border-radius: 0.5rem !important;

  & th, & td {
    padding: 0.75rem !important;
  }
  & * {
    background-color: transparent !important;
    color: $text-secondary !important;
  }
  & a {
    color: $text-primary !important;

    &:hover {
      color: $text-secondary !important;
    }
  }
  // MARKDOWN HTML TEXT ANSWER
  div[class*=assignsubmission_onlinetext] {
    @include card;
    background-color: transparent !important;
    padding: 1rem !important;
    
    div.no-overflow {
      @include prettyMarkdown;
      overflow: visible !important;
      margin-top: 1rem !important;
    }
  }
}



/* INPUT / SEARCH / SUBMIT */
input {
  background-color: $dark-0 !important;
  padding: 0.75rem 2rem !important;
  border-radius: 0.5rem !important;
  box-shadow: none !important;
  
  &:focus {
    outline: 0.2rem solid $hightlight !important;
  }
  &.form-control {
    background-color: $dark-0 !important;
  }
  &.btn {
    background-color: $dark-2 !important;
    padding: 0.75rem 2rem !important;
    border-radius: 0.5rem !important;
    font-weight: bold !important;

    &:hover {
      filter: brightness(120%) !important;  
    }
    &.btn-primary {
      border: 0.1rem solid $hightlight !important;
      padding: 0.75rem 2rem !important;
      background-color: $purple-1 !important;
    }
    &.btn-secondary {
      color: $text-secondary;
    }
  }
}
button.btn-submit {
  background-color: transparent !important;
}
textarea {
  background-color: $dark-0 !important;
  border-radius: 0.5rem !important;
  padding: 1rem !important;
  color: $text-primary !important;

  &.bg-light {
    background-color: inherit !important;
    border-color: inherit !important;
  }
}


/* PROFILE TREE / ABOUT */
div.profile_tree {

  a[href*="user/edit"] {
    @include importantButton;
  }
  & a {
    padding: 0.5rem 0.5rem !important;
  }
  & ul {
    display: flex !important;
    flex-direction: column !important;
    gap: 0.1rem !important;
    
    &.inline-list {
      display: inline-flex !important;
      flex-direction: row !important;
      flex-wrap: wrap !important;
    }
    & li {
      display: flex !important;

      & span {
        display: flex !important;

        & a:hover {
          color: $text-primary !important;
        }
      }
    }
  }
}

/* TEXT EDITOR */
div.editor_atto_wrap {
  background-color: $dark-0 !important;
  padding: 0.5rem 0.5rem !important;
  border-radius: 0.5rem !important;
}

/* RECENTLY ADDED COURSES */
div.block-recentlyaccessedcourses div.one-row > div {
  overflow: hidden !important;
  border-radius: 0.5rem !important;
}


/* LOGIN */
body#page-login-index {

  section#region-main {
    background: none !important;
    box-shadow: none !important;
    outline: none !important;
    
    .card {
      background: none !important;
      box-shadow: none !important;
      outline: none !important;
    }
  }
  button#loginbtn {
    @include importantButton;
  }
  div.forgetpass a {
    padding: 0.5rem !important;
  }
}

// POPOVER (CALENDER)

div.popover {
  @include card;
  @include shadow;
  @include smoothAppearAnim;  
  transition: transform 0s !important;

  div::after, div::before {
    display: none !important;
  }
}


// CALENDER

td.hasevent {
  background-color: $dark-2 !important;
  &:hover, &:active, &:focus {
    background-color: $dark-3 !important;
  }
  
  a {
    border-radius: 0 !important;
    
    &:hover, &:active, &:focus {
      background-color: transparent !important;
    }
  }
}

/* TABLE OF SUBJECTS */


.card-text.content {

  & > .customtitle, & > .legend-box {
    display: none !important;
  }
  /* each subject */
  & > div:nth-child(n+4) {
    margin-top: 3rem !important;

    /* SUBJECT NAME */
    & > h3 {
      padding: 0.5rem !important;

      &:hover {
        filter: brightness(120%);
      }
      & > a:hover {
        background-color: transparent !important;
      }
    }
    & .course-box {
      overflow: hidden !important;
      border-radius: 0.5rem !important;
  
      & > tbody {
        background-color: hsla(260, 10%, 10%, 0.8) !important;
        width: auto !important;
    
        // CELLS BACKGROUND
        & > tr > td {
          padding: 1rem !important;
          background-color: transparent !important;
          // RED
          [style*="#FF3300"] {
            background-color: $purple-0 !important;
          }
          // YELLOW
          [style*="#F7FE2E"] {
            background-color: $purple-0 !important;
            position: relative !important;
            
            &::after {
              content: '';
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              height: 15%;
              pointer-events: none;
              animation: yellowCell 2s infinite alternate ease-in-out;
              background-color: $purple-1;
              
              @keyframes yellowCell {
                0% {
                  filter: opacity(0.3);
                }
                100% {
                  filter: opacity(1);
                }
              }
            }
          }
          // GREEN
          [style*="#33CC00"] {
            position: relative !important;
            background-color: $purple-2 !important;
            background-image: none !important;
          }
          [style*="up"] {
            &::after {
              content: '👍';
              position: absolute;
              top: 50%;
              left: 50%;
              translate: -50% -50%;
              pointer-events: none;
            }
          }
          [style*="down"] {
            &::after {
              content: '👎';
              position: absolute;
              top: 50%;
              left: 50%;
              translate: -50% -50%;
              pointer-events: none;
            }
          }
          // GRAY / FORUMS
          [style*="#CCCCCC"] {
            background-color: $dark-2 !important;
          }
          a {
            border-radius: 0 !important;
          }
        }
        .progressbox {
    
          .progressbar {
            
            /* CELL */
            & td.cm {
              border-style: solid !important;
              border-color: hsl(0, 0%, 10%) !important;
              border-width: 0.1rem !important;
              opacity: 0.85 !important;
              transition: translate 0.1s !important;

              &:hover, &:active {
                translate: 0 -0.15rem !important;
              }
            }
            & tbody tr span {
              display: none;
            }
          }
          // GO TO TEST / TASK / FORUM
          .cminfobox {
            margin-top: 0.5rem !important;

            span.cminfoboxcontent {
              display: flex !important;
              width: fit-content !important;
              height: fit-content !important;
              padding: 0.25rem 0.5rem !important;
              background-color: $dark-2 !important;
              border-radius: 0.5rem !important;
              @include smoothAppearAnim(false);

              &:hover {
                background-color: $dark-3 !important;
              }
              a {
                font-size: 0.75rem !important;
                
                &:hover {
                  background-color: transparent !important;
                }
                
              }
            }
            a.closeinfobox {
              text-align: center !important;
              height: 1.5rem !important;
              aspect-ratio: 1 !important;
            }
          }
        }
      }
    }
  }
  
}

/* MAIN BLOCK / SUBJECTS / SUBJECT PAGE */

body:not(#page-login-index) div#region-main-box > section#region-main {
  @include shadow;
  background-color: $dark-1 !important;
  outline: 0.1rem solid $dark-2 !important;
  border-radius: 0.5rem !important;

  & span#maincontent {
    display: none !important;
  } 

  .course-content {
    .no-overflow {
      overflow: visible !important;
      @include prettyMarkdown;
    }
  }
}

// DIALOGUE / POPUP

.yui3-widget.yui3-panel, .moodle-dialogue, .yui3-widget-modal, .modal-dialog {
  @include card;
  transition: transform 0s !important;
  @include smoothAppearAnim;
  @include shadow;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  translate: -50% -50% !important;
  width: calc(100vw - 2rem) !important;
  max-width: fit-content !important;
  height: fit-content !important;
  background-color: $dark-1 !important;
  padding: 1rem !important;

  .moodle-dialogue-bd {
    overflow: auto !important;
  }
}


// UPLOAD FILE FORM BLOCK

div.filemanager {
  @include card;
  @include shadow;
  padding: 1rem !important;
  display: flex !important;
  flex-flow: column !important;
  gap: 1rem !important;
  
  .filemanager-container, .card {
    outline: none !important;
    box-shadow: none !important;
    overflow: visible !important;

    .fm-empty-container {
      @include card;
      background-color: $dark-0 !important;
      position: relative !important;
      top: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      padding: 1rem !important;
  
      .dndupload-message {
        height: 30rem !important;
  
        .dndupload-arrow {
          background-image: url(https://imgur.com/cYYJ8OG.png) !important;
          background-size: contain !important;
          animation: file 1s infinite alternate ease-in-out;
          position: relative !important;
          top: 0 !important;
          right: 0 !important;
          bottom: 0 !important;
          left: 0 !important;
          margin-block: 1rem !important;
          cursor: pointer !important;
           
          @keyframes file {
            from {
              translate: 0 0;
              opacity: 1;
            }
            to {
              translate: 0 0.5rem;
              opacity: 0.5;
            }
          }
        }
      }
    }
    .fp-upload-form {
  
      input, div {
  
        background-color: $dark-0 !important;
        padding: 0.75rem 2rem !important;
        border-radius: 0.5rem !important;
      }
    }
  }
}

// UPLOAD FILE POPUP

.moodle-dialogue.filepicker {
  
  @media (max-width: 768px) {
    min-width: calc(100vw - 2rem) !important;
  }
  div.fp-repo-items {
    padding: 0.5rem !important;
  
    .card {
      outline: none !important;
      box-shadow: none !important;
    }
    // CHOOSE FILE INPUT
    .fp-file div:nth-child(2) {
      padding: 0 !important;

      input {
        width: 100% !important;
        padding: 1rem !important;
        @include pulseAnim;

        &::-webkit-file-upload-button {
          display: none !important;
        }
        &:hover {
          cursor: pointer !important;
        }
      }
    }
    .fp-upload-btn {
      background-color: $dark-2 !important;
      padding: 0.75rem 2rem !important;
  
      &:hover {
        background-color: $dark-3 !important;
      }
    }
  }
}

// GRADES
div.submissionsummarytable table td {
  
  /* NOT GRADED */
  &.submissionnotgraded {
    color: $text-primary !important;
    font-weight: bold !important;
  }
  /* GRADED */
  &.submissiongraded {
    color: hsl(80, 100%, 40%) !important;
    font-weight: bold !important;
  }
}
/* JUMP TO ACTIVITY */

// SUBMIT / RESUBMIT
div.submissionaction button {
  @include importantButton;
}


/* MESSENGER */


div.message-app {
  background-color: transparent !important;
  border-width: 0 !important;
  
  .card {
    box-shadow: none !important;
    outline: none !important;
  }
  
  & * {
    border-width: 0 !important;
  }
  & .bg-white {
    background-color: transparent !important;
  }
  /* EACH MESSAGE IN CHAT*/
  & div.content-message-container > div {
    background-color: $dark-0 !important;
    border-radius: 0.5rem !important;
    outline: 0.1rem solid $dark-2 !important;
    margin-top: 0.5rem !important;
    
    & > h6 {
      margin-top: 1rem !important;
    }
  }
}

// QUIZ / TESTS / ATTEMPTS / QUESTION STATUS BUTTONS / FINISH TEST

// QUESTION STATUS BUTTONS 
div.qn_buttons {
  display: flex !important;
  flex-wrap: wrap !important;
}
div.othernav a.endtestlink {
  width: fit-content !important;
  padding: 0.5rem !important;
}
a.qnbutton {
  background-color: $dark-0 !important;
  border-radius: 0.5rem !important;
  overflow: hidden !important;
  
  &:hover {
    filter: brightness(120%) !important;
  }
  &.thispage {
    outline: 0.1rem solid $dark-3 !important;
  }
  &.answersaved {
    background-color: $dark-3 !important;
  }
  &.incorrect {
    outline: 0.1rem solid hsl(20, 100%, 40%) !important;
  }
}
div.quizattempt button {
  @include importantButton;
}
// QUIZ TIME LIMITED / WARNING
form#mod_quiz_preflight_form {
  padding: 1rem !important;

  fieldset[id=id_honestycheckheader] {
    margin: 0 !important;

    & > :nth-child(1) {
      padding: 0 !important;
    }
  }
  div[id=fitem_id_honestycheckmessage] {
    margin: 0 !important;

    // EMPTY BLOCK WTF???
    & > div:nth-child(1) {
      display: none !important;
    }
    & > div:nth-child(2) {
      padding: 0 !important;
      max-width: unset !important;
      flex: unset !important;
    }
  }
  div[id=fgroup_id_buttonar] {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    padding: 0 !important;
    margin-top: 2rem !important;

    // EMPTY BLOCK WTF???
    & > :nth-child(1) {
      display: none !important;
    }
    // BUTTONS
    & > :nth-child(2) {
      padding: 0 !important;
      max-width: unset !important;
      flex: unset !important;
      width: fit-content !important;

      .d-flex.flex-wrap.align-items-center {
        flex-wrap: nowrap !important;
        gap: 0.5rem !important;
  
        .form-group {
          margin: 0 !important;
        }
      }
    }
  }
}
// TEST 
.multichoice {

  .formulation {

    .ablock {
      display: flex !important;
      flex-direction: column !important;
      gap: 1rem !important;

      .answer {
        @include card;
        @include shadow;
        overflow: hidden !important;

        // EACH ANSWER OPTION
        & > div {
          margin: 0 !important;
          
          &:hover, &:active, &:focus {
            background-color: $dark-2 !important;
          }
          &:has(input:checked) {
            background-color: $dark-3 !important;
            
            div[data-region=answer-label] {
              // TEXT INSIDE
              * {
                color: $text-primary !important;
              }
            }
          }
          input[type=radio] {
            display: none !important;
          }
          div[data-region=answer-label] {
            padding: 0.5rem 2rem !important;
            cursor: pointer !important;
          }
        }
      }
    }
  }
}
/* FINISH TEST / RETURN TO TEST / CONFIRM TEST */
div.submitbtns {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  gap: 1rem !important;
  height: auto !important;
  width: auto !important;
  
  button, a {
    @include importantButton;
  }
}
table.quizattemptsummary {
    
  a[title^="Просмотр"] {
    @include importantButton;
  }
}
/* CONFIRM TEST */
body#page-mod-quiz-summary {

  .moodle-dialogue {
    
    
    .moodle-dialogue-wrap {
      width: fit-content !important;

      .moodle-dialogue-bd {
        width: fit-content !important;
        
        .confirmation-dialogue {
          display: flex !important;
          flex-direction: column !important;
          width: fit-content !important;
          align-items: center !important;
          gap: 1rem !important;
      
          .confirmation-buttons {
            display: flex !important;
            flex-direction: row-reverse !important;
            gap: 1rem !important;
            align-self: flex-end  !important;
            width: auto !important;
            flex-wrap: nowrap !important;
            align-items: center !important;
        
            input {
              width: fit-content !important;
              padding: 0.75rem 2rem !important;  
            }
          }
        }
      }
    }
  }
}


